doctype html
head
    meta(property='og:title' content='Bots In Discord')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Bots in Discord, a bot list para bots do discord brasileira, completa, adicione seu bot aqui e veja ele crescer!')
    meta(name='description' content='Bots in Discord, a bot list para bots do discord brasileira, completa, adicione seu bot aqui e veja ele crescer!')
    meta(name='og:image' content='/assets/img/logo2.png')
    meta(name='theme-color' content='#d2efe6')
    meta(name='robôs' content='noindex, nofollow')
    meta(name='copyrighted-site-verification' content='249e38758573f6a9')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='propeller' content='a849e4ebdf67be39d919c26da26aefe6')
    meta(name='a.validate.01' content='0f15c30930e751cfcbf47a50a1c59dd44c61')

title Error 404
include includes/head.pug
style.
  body { font-family: 'Inconsolata', monospace;background-color: #303030;background-2: #4F6272;color: #DCE2F9;hover: #adfbff;rimary: #57F287;secondary: #FEE75C;button: #0095e6; }
  #content { margin-top: 130px; width: 100%;}
  h1 {margin: 13px 0;font-size: 58px !important;color: white;text-align: center; }
  h2 {color: white !important;margin-bottom: 0;}
  .button {overflow: hidden;font-size: 14px;padding: 8px 20px;margin-right: 12px;border-radius: 9px;border: 2px solid;text-decoration: none;font-weight: 500;position: relative;background: transparent;text-transform: uppercase;transition: all 400ms ease;cursor: pointer;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);color: #57F287;border-color: #0095e6;display: block;margin: 8px auto;text-align: center;width: 25%;}
  .button::after {content: "";position: absolute;z-index: -4;background: #0095e6;}
  .button:hover { color: white;}
body
    #content
        span.header
            h1 Error 404
            p Not Found
        a.button(href='javascript:history.back()') Back
        a.button(href='/') Home
        
    br 
