doctype html
head
    meta(property='og:title' content='Sobre - Bots In Discord')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Conheça sobre a Bots in Discord, e como foi criada!')
    meta(name='description' content='Conheça sobre a Bots in Discord, e como foi criada!')
    meta(name='og:image' content='/assets/img/logo2.png')
    meta(name='theme-color' content='#d2efe6')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')

title Sobre - Bots in Discord
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 Sobre
        p.smallwidth
            | Bots in Discord é a bot list que começou em 17 de Agosto de 2020, fundado por 
            a(href='https://bidlist.xyz/user/700805591094001692') Sky 🌸
            | e 
            a(href='https://bidlist.xyz/user/664174201220890645') Gustavo
            | .
            | Escrito em NodeJS,
            a(href='https://expressjs.com/')  Express JS web server 
            |  e
            a(href='https://discord.js.org/#/')  Discord.js
                        |  / 
            a(href='https://klasa.js.org/')  Klasa bot.
            br
            br
            | Os bots são armazenados em um banco de dados MongoDB, mas nenhum dado do usuário é armazenado ou salvo. Cookies são usados ​​para
            | armazenar dados oauth do Discord e outros. Se você encontrar algum problema ou bug, ou tiver uma sugestão, fique à vontade para entrar em nosso servidor de suporte clicando   
            a(href='https://discord.gg/rDp7xNE') aqui.
            br
            br
            b| Alguns dos ícones usados ​​neste site são de 
            a(href='https://fontawesome.com/') FontAwesome.
            b
            br
        br
        a#back.button(href='javascript:history.back()') Voltar
        
    br 
    
    include includes/footer.pug
