doctype html
head
    meta(property='og:title' content='Click n\' Click')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Welcome to Click n\' Click, a social website and Discord Bot. Our mission is to make your day happier!')
    meta(name='description' content='Welcome to Click n\' Click, a social website and Discord Bot. Our mission is to make your day happier!')
    meta(name='og:image' content='/assets/img/logo2.png')
    meta(name='theme-color' content='#d2efe6')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')

title Click! Click!
include includes/head.pug
script(src='/assets/js/form.js')
script(src='/assets/js/admin.js')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
link(href='https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css' rel='stylesheet')
body(onload="load()")
style.
 
 .inline {
 display: inline-block;
 }
 .halfs {
  width: 70px;
 }
 .half-lefts {
  width: 70px;
  margin-right: 8px;
 }

 .half-rights {
  width: 70px;
  margin-right: 8px;
 }
 i {
  margin: 10px;
 }
 .card {
  padding: 10px;
  height: 463px; 
  border: 0.5px solid #18191c;
  box-shadow: 2px 3px 2px -1px #18191c;
  margin: 30px;
  display: inline-block;
  width: calc(100vw / 4);
  border-radius: 25px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
 }
 .card:hover {
  box-shadow: 2px 3px 2px -1px #18191c;
  transform: translateY(-0.30em);
 }
include includes/nav2.pug
    #content
        span.header
            if(!req.user)
              h1 Login with Discord to proceed
              p We need this, because we store your nickname into our database, to show in the website who last clicked!
              br
              a.button(href='/login') Login
            if(user)
             h1 I got #{bot.pats} 
              | clicks at the total!
             br
             h2 Click Type
             a.inline.small.half-lefts.button(onclick='report()') Single
             a.inline.small.half-rights.button(onclick=`deny('826507789312327781')`) Multiple
             br
             h2 Other Buttons
             a.inline.small.half-lefts.button(href='/users') Users
             a.inline.small.half-rights.button.button-red(href='https://discord.com/oauth2/authorize?client_id=826507789312327781&scope=bot&permissions=268749944&redirect_uri=https%3A%2F%2Fclicknclick.xyz%2Fguilds ') Bot
             a.inline.small.half-rights.button(href='/users/search') Search
             br
             h2 Last Click by:
             br
             img.usericons(src=userProfile.avatarURL({dynamic: true}))  
             h2 #{bot.lastperson}
             br
             br
             span.header
              h2 Leaderboard
               i.fas.fa-medal 
             br
             #cards
             
script.
    const node = document.getElementById("searchbar");
    node.addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
    location.href = `/users/search/?q=${node.value}`
    }
    });