doctype html
head


title Pagamento aceito - Bots in Discord
include includes/head.pug
script(type='text/javascript').
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5fff4f81a9a34e36b96c21f5/1erukt54t';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();


body

    include includes/nav.pug
    #content
        span.header
        
            h1 Pagamento aceito/em processo
            p2 Obrigado pelo pagamento, com o seu dinheiro, podemos continuar online e com o nosso próprio domínio e sempre com o serviço 10! O seu apoio nos inspira a continuarmos atualizando e mantendo online este incrível site!
            br
            p3 O Seu pagamento foi aceito ou está em processo, mande um comprovante do pagamento para Hiroshi - 700805591094001692 ou Lucaas - 395592015611428864 para receber os benefícios 
            i (atenção: a staff nunca irá pedir seu cartão de crédito e nem outros dados pessoais, nem mesmo os staffers citados acima.) 
        a.button(href='javascript:history.back()') Voltar
        a.button(href='/') Inicio
        br 

    include includes/footer.pug
