#footer
   span.center
      footer
        p © Bots In Discord. Todos os direitos reservados.
          .copyright-notice
            p
              | Desenvolvido com 
              font(color='red') &#x2764;
              |  por 
              font
              a(target='_blank' href='https://bidlist.xyz/about')
               font(color='deeppink') Equipe Bots In Discord

        a(href='https://docs.bidlist.xyz' target='_blank') Documentação
        |   |  
        a(href='mailto:support@bidlist.xyz') Email de suporte
        |   | 
        a(mp-mode='dftl' href='https://www.mercadopago.com/mlb/debits/new?preapproval_plan_id=2c93808477565c5e01776f16cefa28b2' name='MP-payButton') Comprar vip
        |   |
        a(href='https://status.bidlist.xyz' target='_blank') Status
        br
        a#freshstatus-badge-root(href='https://bidlist-720.freshstatus.io' data-banner-style='compact')
        img(src='https://public-api.freshstatus.io/v1/public/badge.svg/?badge=f8229866-3030-4411-b081-175f7953c619')

